@import 'bootstrap/scss/bootstrap';
@import "node_modules/bootstrap/scss/bootstrap";

body{
    background-color:#19191bb3 ;
}

.titulo_1{
    position: absolute;
    top: 5%;
    float: left;
    left: 45%;
}

.contenedor_1{
    position: relative;
}

.slide_1{
    position: relative;
    height: 90%;
    height: 100%;
    margin: auto;
}

.nav_1{
    position: absolute;
    top: 10%;
    width: 70%;
    margin: auto;
}

.nav_2{
    position: absolute;
    top: 50%;
    width: 80%;
    float: left;
    left: 45%;
}

.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.a_1{
    transition: 0.5s;
    text-decoration: none;
    border-radius: 10px;
}

.li_1{
    float: left;
}

.li_1 .a_1{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.a_1:hover{
    background-color: red;
}

.text_1{
    position: relative;
    float: left;
    color: white;
    bottom: 50%;
    text-align: center;
    background-color: aqua;
    width: 40%;
}
