@import 'bootstrap/scss/bootstrap';
@import "node_modules/bootstrap/scss/bootstrap";

body{
    background-color:#19191bb3 ;
}

.contenedor_1{
    position: relative;

}

.slide_1{
    position: relative;
    width: 90%;
    margin: auto;
}

.nav_1{
    left: 38% ;
    float: left;
    position: absolute;
    top: 10%;
    width: 80%;
}
